<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
      <link rel="stylesheet" href="{% static 'webpages/style.css' %}">
    <link rel="stylesheet" href="{% static 'webpages/login.css' %}" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <nav class="navbar px-5 is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="{% url 'index' %}">
           <img src="{% static 'webpages/images/Logo.ico' %}">
          <strong class="ml-2 brand is-size-5">Ekal Shiksha</strong>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <a href="{% url 'About' %}" class="navbar-item">About Us</a>
          <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
            <a class="navbar-link">
              Courses
            </a>
            <div class="navbar-dropdown">
              <a href="/6th/" class="navbar-item">
                Class 6th
              </a>
              <a href="/7th/" class="navbar-item">
                Class 7th
              </a>
              <a href="/8th/" class="navbar-item">
                Class 8th
              </a>
              <a href="/9th/" class="navbar-item">
                Class 9th
              </a>
              <a href="/10th/" class="navbar-item">
                Class 10th
              </a>
              <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
              <label class="for-dropdown-sub button" for="dropdown-sub" style="padding-left:7%">Class 11th</label>
              <div class="section-dropdown-sub">
                <a href="/Science/11th/" class="navbar-item">
                  Class 11th Science
                </a>
                <a href="/Science/12th/" class="navbar-item">
                  Class 11th Commerce
                </a>
                <a href="/Humanities/11th/" class="navbar-item">
                  Class 11th Humanities
                </a>
              </div>
              <div class="nested navbar-item dropdown ">
                <div class="dropdown-trigger">
                  <button class="button " aria-haspopup="true" aria-controls="dropdown-menu" style="font-family: Work Sans, sans-serif;">
                    <span>Class 12th</span></button>
                </div>
                <div class="dropdown-menu " id="dropdown-menu" role="menu">
                  <div class=" navbar-dropdown">
                    <a href="/Commerce/12th/" class="navbar-item">
                      Class 12th Commerce
                    </a>
                    <a href="/Commerce/11th/" class="navbar-item">
                      Class 12th Science
                    </a>
                    <a href="/Humanities/12th/" class="navbar-item">
                      Class 12th Humanities
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <!-- <a href="/Science/11th/" class="navbar-item">
                Class 11th Science
              </a>
              <a href="/Commerce/11th/" class="navbar-item">
                Class 11th Commerce
              </a><a href="/Humanities/11th/" class="navbar-item">
                Class 11th Humanities
              </a>
              <a href="/Science/12th/" class="navbar-item">
                Class 12th Science
              </a>
              <a href="/Commerce/12th/" class="navbar-item">
                Class 12th Commerce
              </a><a href="/Humanities/12th/" class="navbar-item">
                Class 12th Humanities
              </a>
            </div>
          </div> -->
          <!-- <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
              <a class="navbar-link">
                Study Material
              </a>
              <div class="navbar-dropdown">
                <a href="/courses.html" class="navbar-item">
                  Class 6th
                </a>
                <a class="navbar-item">
                  Class 7th
                </a>
                <a class="navbar-item">
                  Class 8th
                </a>
                <a class="navbar-item">
                  Class 9th
                </a>
                <a class="navbar-item">
                  Class 10th
                </a>
                <a class="navbar-item">
                  Class 11th
                </a>
                <a class="navbar-item">
                  Class 12th
                </a>
              </div>
            </div> -->
          <a href="{% url 'Doubt' %}" class="navbar-item">Doubt Class</a>
          <a href="{% url 'contact' %}" class="navbar-item">Contact us</a>
          <a href="{% url 'work' %}" class="navbar-item">Teach With Us</a>
        </div>
      </div>
    </nav>
    <!-- <nav class="navbar px-5" role="navigation" aria-label="main navigation">
      <div class="navbar-brand brand">
        <a class="navbar-item" href="{% url 'index' %}">
          <img src="{% static 'webpages/images/Logo.ico' %}">
          <strong class="ml-2 is-size-5">Ekal Shiksha</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <a href="{% url 'About' %}" class="navbar-item">About Us</a>
          <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
            <a class="navbar-link">
              Courses
            </a>
            <div class="navbar-dropdown">
              <a href="/6th/" class="navbar-item">
                Class 6th
              </a>
              <a href="/7th/" class="navbar-item">
                Class 7th
              </a>
              <a href="/8th/" class="navbar-item">
                Class 8th
              </a>
              <a href="/9th/" class="navbar-item">
                Class 9th
              </a>
              <a href="/10th/" class="navbar-item">
                Class 10th
              </a>
              <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub" />
              <label class="for-dropdown-sub button" for="dropdown-sub" style="padding-left:7%">Class 11th</label>
              <div class="section-dropdown-sub">
                <a href="/Science/11th/" class="navbar-item">
                  Class 11th Science
                </a>
                <a href="/Science/12th/" class="navbar-item">
                  Class 11th Commerce
                </a>
                <a href="/Humanities/11th/" class="navbar-item">
                  Class 11th Humanities
                </a>
              </div>
              <div class="nested navbar-item dropdown">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu"  style="font-family: Work Sans, sans-serif;">
                    <span>Class 12th</span></button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content mb-dropdown">
                    <a href="/Commerce/12th/" class="navbar-item">
                      Class 12th Commerce
                    </a>
                    <a href="/Commerce/11th/" class="navbar-item">
                      Class 12th Science
                    </a>
                    <a href="/Humanities/12th/" class="navbar-item">
                      Class 12th Humanities
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
    <!-- <div class="navbar-item has-dropdown is-hoverable" id="navbarDropdown">
              <a class="navbar-link">
                Study Material
              </a>
              <div class="navbar-dropdown">
                <a href="/courses.html" class="navbar-item">
                  Class 6th
                </a>
                <a class="navbar-item">
                  Class 7th
                </a>
                <a class="navbar-item">
                  Class 8th
                </a>
                <a class="navbar-item">
                  Class 9th
                </a>
                <a class="navbar-item">
                  Class 10th
                </a>
                <a class="navbar-item">
                  Class 11th
                </a>
                <a class="navbar-item">
                  Class 12th
                </a>
              </div>
            </div> -->
    <!-- <a href="{% url 'Doubt' %}" class="navbar-item">Doubt Class</a>
            <a href="{% url 'contact' %}" class="navbar-item">Contact us</a>
            <a href="{% url 'work' %}" class="navbar-item">Teach With Us</a>
            <a href="{% url 'work' %}" class="navbar-item">Signup</a>
          </div>
        </div>
    </nav> -->
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="#" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" />
            </div>
            <input type="submit" class="btn" value="Sign up" />
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <footer style="padding:3%; ">
      <div class="container bottom_border">
        <div class="columns">
          <div class="column is-3 mr-3">
            <h5 class="headin5_amrc col_white_amrc pt2"><strong class="has-text-white">&#169; Ekal Shiksha 2021</strong></h5>
            <!--headin5_amrc-->
            <p class="mb10">Ekal Shiksha is an Ed-tech company which provides one on one individual online classes.</p>
            <p><i class="fa fa-location-arrow"></i> C-54 sector 2 Noida Uttar Pradesh Gautam Budh Nagar </p>
            <p><i class="fa fa-phone"></i> <a href="tel:9625578335"> 9625578335.</a> </p>
            <a href="mailto:contact@ekalshiksha.in">
              <p><i class="fa fa fa-envelope"></i> contact@ekal.in </p>
            </a>


          </div>


          <div class="column is-4">
            <h5 class="headin5_amrc col_white_amrc pt2">Classes</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc is-flex">
              <div class="pr-6">
                <li><a href="/6th/">Class 6</a></li>
                <li><a href="/7th/">Class 7</a></li>
                <li><a href="/8th/">Class 8</a></li>
                <li><a href="/9th/">Class 9</a></li>
                <li><a href="/10th/">Class 10</a></li>
              </div>
              <div class="pr-6">
                <li><a href="/Science/11th/">Class 11 Science</a></li>
                <li><a href="/Commerce/11th/">Class 11 Commerce</a></li>
                <li><a href="/Humanities/11th/">Class 11 Humanities</a></li>
                <li><a href="/Science/11th/">Class 12 Science</a></li>
                <li><a href="/Commerce/12th/">Class 12 Commerce</a></li>
                <li><a href="/Humanities/12th/">Class 12 Humanities</a></li>
              </div>
            </ul>
            <!--footer_ul_amrc ends here-->
          </div>

          <div class="column is-4">
            <h5 class="headin5_amrc col_white_amrc pt2">Study Material</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc is-flex">
              <div class="pr-6">
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 6</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 7</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 8</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 9</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 10</a></li>
              </div>
              <div class="pr-6">
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Science</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Commerce</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 11 Humanities</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Science</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Commerce</a></li>
                <li><a href="https://on-app.in/app/home?orgCode=uhmmr">Class 12 Humanities</a></li>
              </div>
            </ul>
            <!--footer_ul_amrc ends here-->
          </div>
          <div class="column">
            <h5 class="headin5_amrc col_white_amrc pt2"> About</h5>
            <!--headin5_amrc-->
            <ul class="footer_ul_amrc">
              <li><a href="/AboutUs/">About Us</a></li>

            </ul>
            <!--footer_ul_amrc ends here-->
          </div>

        </div>
      </div>




      <div class="container">
        <ul class="foote_bottom_ul_amrc is-flex-mobile is-flex-wrap-wrap">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="/AboutUs/">About</a></li>
          <li><a href="/Doubts/">Doubt Class</a></li>

        </ul>
        <!--foote_bottom_ul_amrc ends here-->

        <ul class="social_footer_ul">
          <li><a href="https://www.facebook.com/ekalshiksha/"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/ekalshiksha?lang=en"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://in.linkedin.com/company/ekal-shiksha"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/ekal_shiksha/?hl=en"><i class="fab fa-instagram"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
      </div>

    </footer>
    <script src="{% static '/webpages/Js/app.js'%}"></script>
  </body>
</html>
